.cusclass {
    display: flex
;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.reversimg .pjc-flx {
    flex-direction: row-reverse;
}

.project_header.reverscolor {
    background: transparent !important;
}

.project_header.reverscolor .form-title {
    color: #000 !important;
    border-right: 3px solid #000 !important;
}

.project_header.reverscolor .cusinpput input {
    border: 1px solid #eee !important;
}
.project_header .headflx {
    max-width: 95% !important;
}

.cta_block2 {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.cta_block2 .headline.sm_title.shorttitle {
    margin: 0;
}

.cta_block2 .headline.sm_title.shorttitle span {
    font-size: 18px !important;
    color: #08241a;
}

.cta_block2 .towitem a {
    padding: 5px 25px;
    border-radius: 30px;
}

.gallery_images img,.gallery_images iframe {
    min-height: 220px;
    max-height: 350px;
    height: auto;
    margin: 0 2px;
    object-fit: cover;
    border: 1px solid #eee;
    border-radius: 8px;
    aspect-ratio: 16/9;
}

.gallery_images .video-item {
    margin: 0 10px;
}
.gallery_images .slick-dots li button:before {
    background: #fff
}
.gallery_images .slick-dots {
    position: absolute;
    bottom: 12px;
}
.gallery_images.slick-dotted.slick-slider {
    margin-bottom: 0
}

.image-container img {
    height: 80px;
}

.videos-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.video-item img, .gallery_images iframe {
    aspect-ratio: 9 / 16;
    max-height: 400px;
    height: auto;
    margin: 0 auto;
    width: 100%;
}


.footer_CTA2 {
    position: fixed;
    inset: 0;
    top: unset;
    padding: 10px;
    background: #fff;
    border-top: 3px solid #000;
    z-index: 99;
}

.footer_CTA2 .footer_title {
    font-weight: bold;
    border-right: 3px solid #000;
    padding: 0 15px;
    margin-bottom: 10px;
    text-align: center;
    border-left: 3px solid #000;
}

.footer_cta_block2 .towitem {
    justify-content: center;
    align-items: flex-start;
}
.footer_cta_block2 .towitem a, .footer_cta_block2 .towitem span {width: auto !important;flex-grow: unset;padding: 10px 25px;font-size: 15px;line-height: 1;border-radius: 30px;}


.cta-block-editor .footer_CTA2 {
    position: relative;
    display: block;
}
.footer_margin {
    margin-bottom: 100px;
}

.footer_margin,.footer_CTA2 {
        display: none;
    }


    .sectionfixd {
    background: #007a7d;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}
.scfixdcontentflx {
    gap: 20px;
    display: grid
;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-section.colone {
    display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.col-section.coltow {
    display: flex
;
    align-items: center;
    justify-content: center;
}
.col-section.coltree {
    display: flex
;
    align-items: center;
    justify-content: center;
}
.scfixdtitle {
    line-height: 40px;
}
h2.scfixdtitleh {
    font-size: 28px;
    font-weight: 800;
}
div#countdown {
    color: #fff;
    text-align: center;
    display: flex
;
    justify-content: center;
    gap: 40px;
}
div#countdown span {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.7em;
}


.col-section.coltree .towitem a, .col-section.coltree .towitem span {
    box-shadow: 0 0 11px 0px rgb(0 0 0 / 18%);
    border-radius: 30px;
    padding: 5px 25px;
}

.col-section.coltree .towitem {
    display: grid;
}

.popubleadform {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}

.popubleadform.active {
    display: flex;
}

.headflx.popubform {
    background: #fff;
    max-width: 450px;
    padding: 20px;
    position: relative;
    z-index: 9999;
}
.headflx.popubform form#popubform {
    grid-template-columns: 1fr;
}

.headflx.popubform input {
    border: 1px solid #b9beca;
    border-radius: 2px;
}

.headflx.popubform .form-title {
    color: #292e32;
    border-right: 3px solid #292e32;
}
span.closepop {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.popubleadformover {
    align-items: center;
    background: rgba(0, 0, 0, .49);
    display: flex
;
    inset: 0;
    justify-content: center;
    position: fixed;
    z-index: 999;
}